<?xml version="1.0" encoding="UTF-8" ?>
<site id="site" label="PlayGround">
	<page id="WorldBuilder" label="World Builder" src="builder.swf"/>
	<page id="World" label="World" src="world.swf">
	
		<!-- Area Map 26*26
		
			 1 2 3 ........ 26
			+-----------------+
		  A | | | | | | | | | |
			+-----------------+
		  B	| | | | | | | | | |
			+-----------------+
		  C	| | | | | | | | | |
		  	+-----------------+
		  .	| | | | | | | | | |
		  	+-----------------+
		  M	| | | | |M| | | | |
		    +-----------------+
		  .	| | | | | | | | | |
		    +-----------------+
		  .	| | | | | | | | | |
		    +-----------------+
		  Z	| | | | | | | | | |
		  	+-----------------+
		  	
		-->
		
		<area id="m13" src="area/m13.avo"/>
	</page>
</site>