<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<world>
		<area path="areas/">87,88</area>
	</world>
	<chars>
		<model type="man" src="chars/man/model_1.mdj"/>
		<model type="man" src="chars/man/model_2.mdj"/>
		<model type="man" src="chars/man/model_3.mdj"/>
		<model type="man" src="chars/man/model_4.mdj"/>
		<model type="woman" src="chars/woman/model_1.mdj"/>
		<model type="woman" src="chars/woman/model_2.mdj"/>
		<model type="woman" src="chars/woman/model_3.mdj"/>
		<model type="woman" src="chars/woman/model_4.mdj"/>
	</chars>
</config>