<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<world>
		<area path="areas/">87,88</area>
	</world>
	<chars>
		<man>
			<model src="chars/man/model_1.mdj"/>
			<model src="chars/man/model_2.mdj"/>
			<model src="chars/man/model_3.mdj"/>
			<model src="chars/man/model_4.mdj"/>
		</man>
		<woman>
			<model src="chars/woman/model_1.mdj"/>
			<model src="chars/woman/model_2.mdj"/>
			<model src="chars/woman/model_3.mdj"/>
			<model src="chars/woman/model_4.mdj"/>
		</woman>
	</chars>
</config>