<?xml version="1.0" encoding="UTF-8"?>
<shell id="shell" focus="Flood">
	
	<!-- @src : แหล่งที่มาของข้อมูล -->
	<!-- @target : หน้าที่จะเปิด -->
	<!-- @ttl : เวลาที่ข้อมูลจะถูกดึงมาใหม่หน่วยเป็นมิลลิวินาที -->
		
	<link id="web" src="http://203.155.220.232/web/" target="_blank" />
	<link id="bma" src="http://www.bma.go.th/" target="_blank" />
	
	<panel id="Flood">
		<foreground id="foreground" src="Flood/foreground.swf"/>
		<content id="FloodMap" src="Flood/10_map/10_map.swf" ttl="10000" >
			<!-- ข้อมูลในเมนูด้านซ้าย -->
			<feed id="FloodMapList" src="Flood/serverside/FloodmonAllStation.xml"/>
			<!-- ข้อมูลใน map -->
			<feed id="FloodMapData" src="Flood/serverside/FloodmonAllStation.xml"/>
			<menu>
				<item src="actionscript:setFocus('graph')" label="กราฟ"/>
				<item src="actionscript:getLinkId('index.php?id=$id')" label="สรุปทุกสถานี"/>
				<item src="actionscript:getLinkId('index.asp?id=$id')" label="ประวัติน้ำท่วม"/>
				<item src="actionscript:getLinkId('index.html#$id')" label="รายงาน"/>
			</menu>
		</content>
		<content id="FloodStation" src="Flood/20_station/20_station.swf" ttl="10000">
			<!-- ข้อมูลในเมนูด้านซ้าย -->
			<feed id="FloodStationList" src="Flood/serverside/FloodmonAllStation.xml"/>
			<!-- folder ที่ Floodmon_XXXX.xml อยู่ -->
			<feed id="FloodStationData" src="Flood/serverside/" color="0x00FF00" alpha="90" blendmode="multiply"/>
			<!-- folder ที่ FloodmonHistory_XXXX.xml อยู่ -->
			<feed id="FloodHistoryData" src="Flood/serverside/"/>
			<menu>
				<item src="actionscript:setFocus('map')" label="แผนที่"/>
				<item src="actionscript:getLinkId('javascript:alert($id)')" label="รูปถ่าย"/>
				<item src="actionscript:getLinkId('index.php?id=$id')" target="_self" label="สรุปทุกสถานี"/>
				<item src="actionscript:getLinkId('index.asp?id=$id')" label="ประวัติน้ำท่วม"/>
				<item src="actionscript:setFocus('graph')" label="กราฟ"/>
				<item src="actionscript:getLinkId('index.html#$id')" label="รายงาน"/>
			</menu>
		</content>
		<content id="FloodGraph" src="Flood/30_graph/30_graph.swf" ttl="10000">
			<!-- ข้อมูลในเมนูด้านซ้าย -->
			<feed id="FloodGraphList" src="Flood/serverside/FloodmonAllStation.xml"/>
			<!-- ข้อมูลใน graph -->
			<feed id="FloodGraphData" src="Flood/serverside/FloodmonAllStation.xml" floodColor="0x4E70AF" tunnelColor="0x76AD96"/>
			<menu>
				<item src="actionscript:setFocus('map')" label="แผนที่"/>
				<item src="actionscript:getLinkId('javascript:alert($id)')" label="รูปถ่าย"/>
				<item src="actionscript:getLinkId('index.php?id=$id')" target="_self" label="สรุปทุกสถานี"/>
				<item src="actionscript:getLinkId('index.asp?id=$id')" label="ประวัติน้ำท่วม"/>
				<item src="actionscript:getLinkId('index.html#$id')" label="รายงาน"/>
			</menu>
		</content>
		<background id="background" src="Flood/background.swf"/>
	</panel>

</shell>